/* Fonts */
@font-face {
    font-family: 'Gentium Plus';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/gentiumplus/v1/IurC6Ytw-oSPaZ00r2bNe8VRMLRY50ww.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotomono/v21/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/merriweather/v30/u-440qyriQwlOrhSvowK_l5-fCZM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Special Elite';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/specialelite/v18/XLYgIZbkc4JPUL5CVArUVL0ntnAOSA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Universal Styles */
html {
    font-family: "Gentium Plus", sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: #f3f3f3;
    background-image: url(https://img.freepik.com/free-photo/crumpled-white-paper_1194-7543.jpg?w=2000);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    height: 3rem;
    border-radius: 4px;
    background-color: rebeccapurple;
    padding: 1rem;
    margin: 1rem 0;
    font-family: 'Roboto Mono';
    color: white;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
}

.link-button, .link-button:visited {
    background-color: #abb1cf;
    color: rebeccapurple;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
}

h2 {
    background-color: rebeccapurple;
    color: whitesmoke;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    width: 90%;
    padding: 1rem 0;
    box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.75);
    text-shadow: -2px 2px 2px rgba(0,0,0,0.6);
}

h3 {
    font-size: larger;
    text-shadow: -1px 1px 2px rgba(0,0,0,0.2);
}

.content {
    font-size: 1.3rem;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 2000px) {
    h2 {
        font-size: 3rem;
    }

    .content {
        font-size: 2.3rem;
    }

    button {
        font-size: 2.3rem;
        height: 4.5rem;
    }
}

@media only screen and (max-width: 1600px) {
    h2 {
        font-size: 2.7rem;
    }

    .content {
        font-size: 2rem;
    }

    button {
        font-size: 2rem;
        height: 4rem;
    }
}

@media only screen and (max-width: 1400px) {
    h2 {
        font-size: 2rem;
    }

    .content {
        font-size: 1.6rem;
    }

    button {
        font-size: 1.6rem;
        height: 3.2rem;
    }
}

@media only screen and (max-width: 1100px) {
    h2 {
        font-size: 1.8rem;
    }

    .content {
        font-size: 1.5rem;
    }

    button {
        font-size: 1.5rem;
        height: 3rem;
    }
}

@media only screen and (max-width: 900px) {
    h2 {
        font-size: 1.7rem;
    }
    
    .content {
        font-size: 1.3rem;
    }

    button {
        font-size: 1.3rem;
        height: 2.6rem;
    }
}

@media only screen and (max-width: 800px) {
    h2 {
        font-size: 1.7rem;
        padding: 0.5rem 0;
    }
    
    .content {
        font-size: 1.2rem;
    }
    
    button {
        font-size: 1.2rem;
        height: 2.5rem;
    }
}

@media only screen and (max-width: 700px) {
    h2 {
        width: 95%;
    }
}

@media only screen and (max-width: 340px) {
    .content {
        font-size: 1.1rem;
    }

    button {
        font-size: 1.1rem;
        height: 2.3rem;
    }
}

@media only screen and (max-width: 300px) {
    h2 {
        font-size: 1.5rem;
        letter-spacing: 0.3rem;
    }
}

/* Header */
header {
    width: 100%;
}
  
header .content {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: black;
}
  
header .name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 8rem;
    width: auto;
    color: whitesmoke;
    font-size: 5rem;
    font-family: "Merriweather";
}
  
header nav ul {
    display: flex;
    margin: 0 0.5rem;
}
  
nav li {
    padding-left: 3rem;
    display: inline-block;
}

nav a {
    vertical-align: bottom;
    line-height: 1.6;
    font-size: 1.8rem;
    color: lavender;
}

nav a:hover {
    color: khaki;
    font-size: 2.2rem;
}

.mobile, .companylogo {
    display: none;
}

@media only screen and (max-width: 2000px) {
    nav a {
        line-height: 2.6;
        font-size: 2.8rem;
    }
    
    nav a:hover {
        font-size: 3.2rem;
    }    
}

@media only screen and (max-width: 1600px) {
    header .name {
        height: 7rem;
        font-size: 4rem;
    }

    nav a {
        line-height: 2.3;
        font-size: 2.5rem;
    }
    
    nav a:hover {
        font-size: 2.9rem;
    }    
}

@media only screen and (max-width: 1400px) {
    header .name {
        height: 6rem;
        font-size: 3rem;
    }

    nav a {
        line-height: 1.6;
        font-size: 1.8rem;
    }
    
    nav a:hover {
        font-size: 2.2rem;
    }
}

@media only screen and (max-width: 1100px) {
    header .name {
        height: 5.4rem;
        font-size: 2.7rem;
    }

    nav a {
        line-height: 1.4;
        font-size: 1.6rem;
    }
    
    nav a:hover {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 1000px) {
    header .name {
        height: 4.8rem;
        font-size: 2.4rem;
    }
}

@media only screen and (max-width: 900px) {
    header .name {
        height: 3.6rem;
        font-size: 1.9rem;
    }

    nav a {
        line-height: 1.6;
        font-size: 1.4rem;
    }
    
    nav a:hover {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 800px) {
    header .name {
        height: 3.4rem;
        font-size: 1.7rem;
    }

    nav a {
        line-height: 1.4;
        font-size: 1.2rem;
    }
    
    nav a:hover {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 800px) {
    header .name {
        height: 3rem;
        font-size: 1.9rem;
    }
      
    nav li {
        padding-left: 1rem;
    }
    
    nav a {
        font-size: 1.4rem;
    }
    
    nav a:hover {
        font-size: 1.8rem;
    }    
}

@media only screen and (max-width: 740px) {
    header .name, .desktop {
        display: none;
    }
    
    header .content {
        flex-direction: column;
    }

    .companylogo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .companylogo img {
        max-height: 5rem;
    }

    #amm {
        border-radius: 5%;
    }
    
    #menuButton {
        height: 4rem;
        cursor: pointer;
    }

    #menuButton:focus {
        border: 2px solid white;
    }

    .mobile {
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(103,56,136, 0.95);
        overflow: auto;
        z-index: 1;
        width: 97.5%;
        top: 6.4rem;
    }

    .mobile a {
        color: white;
        font-size: 1.6rem;
        letter-spacing: 0.3rem;
        width: 100%;
        padding: 0.5rem;
        border-bottom: 1px solid whitesmoke;
    }

    .show {
        display: flex;
    }
}

@media only screen and (max-width: 560px) {
    .companylogo img {
        max-height: 4rem;
    }

    #menuButton {
        height: 3rem;
    }

    .mobile {
        width: 97%;
        top: 5.5rem;
    }
}

@media only screen and (max-width: 500px) {
    .mobile {
        width: 96.5%;
    }
}

@media only screen and (max-width: 440px) {
    .mobile {
        width: 96%;
    }
}

@media only screen and (max-width: 360px) {
    .companylogo img {
        max-height: 3.5rem;
    }

    #menuButton {
        height: 2.5rem;
    }

    .mobile {
        top: 5rem;
        width: 95.5%;
    }
}

@media only screen and (max-width: 340px) {
    .mobile {
        width: 95%;
    }
}

@media only screen and (max-width: 300px) {
    .mobile {
        width: 94.9%;
    }
}

/* About Section */
#about-section, #about-container, #about-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    
#about-container {
    flex-direction: row;
    width: 85%;
    padding: 0.5rem;
}

#about-boxes {
    width: 40%;
}

#about1-box, #about2-box {
    padding: 0.5rem;
    margin: 2rem auto;
    max-width: 80%;
    background-color: #d5cbe3;
    box-shadow: -10px 8px 5px -2px rgba(31,5,47,1);
}

#pic-box img {
    height: 29rem;
    width: 29rem;
    border-radius: 50%;
    border: 2px solid black;
    margin-right: 5rem;
    box-shadow: 0px 3px 4px 1px rgba(31,5,47,1); 
}

@media only screen and (max-width: 2000px) {
    #pic-box img {
        height: 40rem;
        width: 40rem;
    }    
}

@media only screen and (max-width: 1600px) {
    #pic-box img {
        height: 35rem;
        width: 35rem;
    }    
}

@media only screen and (max-width: 1400px) {
    #pic-box img {
        height: 30rem;
        width: 30rem;
    }    
}

@media only screen and (max-width: 1100px) {
    #pic-box img {
        height: 25rem;
        width: 25rem;
    }    
}

@media only screen and (max-width: 900px) {
    #pic-box img {
        height: 20rem;
        width: 20rem;
    }    
}

@media only screen and (max-width: 800px) {
    #about-container {
        flex-direction: column;
    }

    #about-boxes {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }
    
    #about1-box, #about2-box {
        width: 50%;
        height: 15rem;
        margin: 1rem;
    }

    #pic-box img {
        margin-right: 0;
        height: 18rem;
        width: 18rem;
    }
}

@media only screen and (max-width: 700px) {
    #about1-box, #about2-box {
        height: 16rem;
    }
}

@media only screen and (max-width: 620px) {
    #about1-box, #about2-box {
        height: 19rem;
    }
}

@media only screen and (max-width: 600px) {
    #about-boxes {
        flex-direction: column;
    }
    
    #about1-box, #about2-box {
        width: 90%;
        height: auto;
    }

    #pic-box img {
        height: 15rem;
        width: 15rem;
    }
}

@media only screen and (max-width: 500px) {
    #about-container {
        width: 90%;
    }
}

@media only screen and (max-width: 400px) {
    #pic-box img {
        height: 11rem;
        width: 11rem;
    }
}

@media only screen and (max-width: 360px) {
    #about-container {
        width: 100%;
    }
}

/* Skills Section */
#skills-section, #skills-container, #logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#skills-container {
    padding: 1rem 1rem 3rem;
    background-color: #d5cbe3;
    box-shadow: -10px 8px 5px -2px rgba(31,5,47,1);
    width: 85%;
}

#logo-box {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 2rem;
}

#logo-box img {
    max-height: 8rem;
    max-width: 10rem;
    padding: 1rem;
}

@media only screen and (max-width: 800px) {
    #skills-container {
        padding-bottom: 1rem;
    }
    
    #logo-box {
        padding-top: 1rem;
    }
    
    #logo-box img {
        max-height: 7rem;
        max-width: 9rem;
    }    
}

@media only screen and (max-width: 600px) {
    #skills-container {
        padding: 0 1rem;
    }
    
    #logo-box {
        padding-top: 0;
    }

    #logo-box img {
        max-height: 6rem;
        max-width: 8rem;
        padding: 0.5rem;
    }
}

@media only screen and (max-width: 560px) {
    #skills-container {
        padding: 0 0.5rem;
    }
    
    #logo-box img {
        max-height: 5rem;
        max-width: 7rem;
    }
}

@media only screen and (max-width: 520px) {
    #logo-box img {
        max-height: 4rem;
        max-width: 6rem;
    }
}

@media only screen and (max-width: 460px) {
    #logo-box img {
        max-height: 3rem;
        max-width: 5rem;
    }
}

@media only screen and (max-width: 300px) {
    #logo-box img {
        max-height: 2.9rem;
        max-width: 4.9rem;
    }
}

/* Projects Section */
#projects-section, #projects-container, #projects-box, .pbox, .code-box, .code, .topbox, .overlay1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#projectsInfo-box {
    background-color: #d5cbe3;
    box-shadow: -10px 8px 5px -2px rgba(31,5,47,1);
    width: 50%;
}

#projects-box {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1.5rem;
    width: 96%;
}

#project1-box, #project2-box, #project3-box {
    margin: 1rem;
    width: 33%;
    cursor: pointer;
    box-shadow: -4px 4px 5px 0px rgba(0,0,0,1);
}

.topbox {
    overflow: hidden;
    position: relative;
    height: 13rem;
    width: 100%;
}

.topbox img {
    width: 100%;
    height: 13rem;
}

.overlay2 {
    background: rgba(102, 51, 153, 0.8);
    font-size: 1.1rem;
    height: 13rem;
    color: #fff;
    position: absolute;
    padding: 0 0.3rem;
    display: none;
}

.overlay1 {
    position: absolute;
    width: 100%;
    height: 13rem;
    background: rgba(67,78,94, 0.75);
    font-size: 2rem;
    color: white;
}

.code-box {
    background-color: white;
    padding-bottom: 0.5rem;
    width: 100%;
}

.code {
    flex-direction: row;
}

.code p {
    background-color: lavender;
    border-radius: 5px;
    padding: 0 0.5rem;
    margin: 0.5rem;
    font-size: 1rem;
}

span {
    font-size: 1.2rem;
}

@media only screen and (max-width: 2000px) {
    .topbox, .topbox img, .overlay2, .overlay1 {
        height: 23rem;
    }

    .overlay1 {
        font-size: 4rem;
    }

    .overlay2 {
        font-size: 2.2rem;
    }

    .code p {
        font-size: 2rem;
    }

    span {
        font-size: 2.4rem;
    }
}

@media only screen and (max-width: 1800px) {
    .topbox, .topbox img, .overlay2, .overlay1 {
        height: 20rem;
    }

    .overlay1 {
        font-size: 3.3rem;
    }

    .overlay2 {
        font-size: 1.9rem;
    }

    .code p {
        font-size: 1.8rem;
    }

    span {
        font-size: 2.2rem;
    }
}

@media only screen and (max-width: 1600px) {
    .topbox, .topbox img, .overlay2, .overlay1 {
        height: 17rem;
    }
}

@media only screen and (max-width: 1560px) {
    .overlay2 {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 1500px) {
    .topbox, .topbox img, .overlay2, .overlay1 {
        height: 14rem;
    }

    .overlay1 {
        font-size: 2.7rem;
    }

    .overlay2 {
        font-size: 1.4rem;
    }

    .code p {
        font-size: 1.4rem;
    }

    span {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 1200px) {
    .topbox, .topbox img, .overlay2, .overlay1 {
        height: 12rem;
    }

    .overlay1 {
        font-size: 2.3rem;
    }

    .overlay2 {
        font-size: 1.1rem;
    }

    .code p {
        font-size: 1rem;
    }

    span {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 1000px) {
    .topbox, .topbox img, .overlay2, .overlay1 {
        height: 10rem;
    }

    .overlay1 {
        font-size: 1.75rem;
    }

    .overlay2 {
        font-size: 1rem;
    }

    .code-box {
        padding-bottom: 0.2rem;
    }

    .code p {
        font-size: 1rem;
    }

    span {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 800px) {
    #projectsInfo-box {
        width: 75%;
        padding: 0 0.5rem;
    }

    #projects-box {
        flex-direction: column;
        margin-top: 1rem;
        width: 60%;
    }

    #project1-box, #project2-box, #project3-box {
        margin: 1rem;
        width: 100%;
    }

    .topbox, .topbox img, .overlay2, .overlay1 {
        height: 15rem;
    }
}

@media only screen and (max-width: 600px) {
    #projects-box {
        width: 70%;
    }

    .topbox, .topbox img, .overlay2, .overlay1 {
        height: 13rem;
    }
}

@media only screen and (max-width: 480px) {
    #projectsInfo-box, #projects-box {
        width: 85%;
    }
}

@media only screen and (max-width: 440px) {
    #projectsInfo-box, #projects-box {
        width: 88%;
    }
}

@media only screen and (max-width: 400px) {
    #projects-box {
        width: 90%;
    }

    .code-box {
        padding-bottom: 0.1rem;
    }

    .topbox, .topbox img, .overlay2, .overlay1 {
        height: 11rem;
    }

    .overlay2 {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 380px) {
    .overlay1 {
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: 360px) {
    .topbox, .topbox img, .overlay2, .overlay1 {
        height: 10rem;
    }

    .overlay2 {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 340px) {
    .overlay1 {
        font-size: 1.5rem;
    }

    .code p {
        font-size: 0.8rem;
    }

    span {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 320px) {
    .topbox, .topbox img, .overlay2, .overlay1 {
        height: 9rem;
    }

    .overlay2 {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 300px) {
    .overlay2 {
        font-size: 0.5rem;
    }

    .code p {
        font-size: 0.6rem;
    }

    span {
        font-size: 0.8rem;
    }
}

/* Contact Section */
#contact-section, #contact-container, #contactInfo-box, #contact-box, #contacts, #form-box, #form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contactInfo-box {
    background-color: #d5cbe3;
    box-shadow: -10px 8px 5px -2px rgba(31,5,47,1);
    width: 85%;
    padding: 0 0.5rem;
}

#form-box {
    width: 85%;
}

#contact-box {
    background-color: #9f45b0;
    box-shadow: -4px 4px 5px 0px rgba(0,0,0,1);
    margin-top: 1rem;
    width: 87%;
}

form, .contact-message {
    width: 100%;
}

#contacts {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 0.5rem;
}

.contact-name, .contact-email {
    width: 47%;
}

.contact-name input, .contact-email input, textarea {
    width: 95%;
    box-shadow: 1px -1px 0px 1px rgba(0,0,0,0.2) inset;
}

.contact-name input, .contact-email input {
    height: 2rem;
}

#form-container button {
    font-size: 1.2rem;
    height: 2rem;
}

#form-container button:active {
    box-shadow: inset -2px -2px 3px rgba(191, 64, 191, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

@media only screen and (max-width: 2000px) {
    .contact-name input, .contact-email input {
        font-size: 2rem;
        height: 3rem;
    }

    textarea {
        font-size: 2rem;
    }

    #form-container button {
        font-size: 2rem;
        height: 4rem;
    }
}

@media only screen and (max-width: 1400px) {
    .contact-name input, .contact-email input {
        font-size: 1.6rem;
        height: 2rem;
    }

    textarea {
        font-size: 1.6rem;
    }

    #form-container button {
        font-size: 1.6rem;
        height: 3.2rem;
    }
}

@media only screen and (max-width: 1100px) {
    .contact-name input, .contact-email input {
        font-size: 1.2rem;
        height: 1.9rem;
    }

    textarea {
        font-size: 1.2rem;
    }

    #form-container button {
        font-size: 1.2rem;
        height: 2rem;
    }
}

@media only screen and (max-width: 660px) {
    #contact-box {
        width: 90%;
    }

    #contacts {
        flex-direction: column;
        width: 100%;
    }

    .contact-name, .contact-email {
        width: 80%;
        padding: 0.5rem ;
    }

    textarea {
        width: 76%;
    }
}

@media only screen and (max-width: 500px) {
    .contact-name, .contact-email {
        width: 100%;
    }

    textarea {
        width: 96%;
    }
}

/* Footer Section*/
#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bolder;
    background-color: #a7adba;
    font-family: 'Special Elite';
}

#icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon a, #icon a:visited {
    color: rebeccapurple;
}
  
#footer img {
    height: 3rem;
    padding-right: 1rem;
}

@media only screen and (max-width: 900px) {
    #footer {
        font-size: 1.4rem;
    }
    
    #footer img {
        height: 2.8rem;
    }
}

@media only screen and (max-width: 800px) {
    #footer {
        font-size: 1.3rem;
    }
    
    #footer img {
        height: 2.5rem;
    }
}

@media only screen and (max-width: 660px) {
    #icon p {
        display: none;
    }

    #footer img {
        padding-right: 0;
    }
}

@media only screen and (max-width: 580px) {
    #footer {
        font-size: 1.1rem;
    }
    
    #footer img {
        height: 2rem;
    }
}

@media only screen and (max-width: 380px) {
    #footer {
        font-size: 0.9rem;
    }
    
    #footer img {
        height: 1.8rem;
    }
}

@media only screen and (max-width: 300px) {
    #footer {
        font-size: 0.8rem;
    }
    
    #footer img {
        height: 1.2rem;
    }
}